/* CSS for contact Us Page start */
.Contact-us .cls-h2 {
  text-align: center;
}
.Contact-us {
  padding: 10vh 3vw;
}
.Contact-us .contact-info-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5vh;
}
.Contact-us .contact-info-box .info-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  margin: 1rem 2rem 1rem 0rem;
  gap: 1rem;
  align-items: center;
}
.Contact-us .contact-info-box .info-box .info-icon {
  text-align: center;
  padding: 26px;
  background-color: #fff8f4;
  box-shadow: 0px 4px 30px 0px rgb(0 0 0 / 14%);
  border-radius: 5px;
}
.Contact-us .contact-info-box .info-box .info-icon:hover {
  background-color: var(--primary-color);
}
.Contact-us .contact-info-box .info-box .info-icon i {
  font-size: 36px;
}
.Contact-us .contact-info-box .info-box .info-heading {
  font-weight: 700;
  font-size: 20px;
}
.contact-us-form .main1-formsec {
  grid-template-columns: 1fr;
  position: relative;
  bottom: 0vh;
}
.contact-us-form .get-in-touch-heading {
  font-size: 27px;
  text-align: center;
}
.contact-us-hr {
  width: 33%;
  color: #ff5e14;
  background-color: #ff5e14;
  height: 3px;
  border-width: 0px;
}
#googleMap {
  width: 100%;
  height: 400px;
}
/* CSS for contact us page end */
.form-section {
  padding-top: 10vh;
}
.main-formsec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.form-para {
  color: var(--primary-color);
}
.sub-formsec {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.img-main img {
  width: 100%;
}
.cls-img1 {
  align-content: center;
}
.cls-h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.main1-formsec {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  position: absolute;
  width: 100%;
  bottom: -18vh;
}
.main2-formsec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inputbox {
  height: 55px;
  padding: 0 25px 0 25px;
  padding-right: 45px;
  width: 96%;
  margin: 2%;
  box-sizing: border-box;
}
.input-form {
  position: relative;
}
.input-form .fa,
.input-form .material-icons {
  position: absolute;
  top: 37%;
  left: 87%;
  color: slategray;
}
.input-form textarea {
  height: 92px;
  padding: 20px;
}

.input-form .fa-pencil {
  left: 91%;
  top: 30%;
}
.form-button {
  background-color: var(--primary-color);
  text-align: center;
  height: 20%;
  width: 98%;
  margin: 1%;
  box-sizing: border-box;
}
.btn-form {
  padding: 20.5px 29px;
  border: none;
  background-color: var(--primary-color);
  color: white;
}
.form-button .fa {
  color: white;
}
.textareabox {
  width: 98%;
  margin: 1%;
}
.sec-formm {
  background-color: black;
  width: 75%;
  margin: 1rem;
}
.form-sub1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 3rem;
}
.form-ht {
  color: white;
}
.para-fsub {
  color: slategray;
  margin: 1rem;
  width: 56%;
}
.form-sub2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1rem;
}
.form-sub3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
}
.number-form {
  color: white;
}
.fa-phone {
  color: white;
}
.icon-box {
  align-content: center;
}
.envelop-form {
  margin-left: 1rem;
}
.ntsn1 {
  padding: 0px;
  margin: 0px;
  color: var(--primary-color);
}
.ntsn2 {
  padding: 0px;
  margin: 0px;
}
.inputmail {
  height: 56px;
  background: #3d4250;
  color: #b2b2b2;
  margin: 0rem;
  width: 97%;
}
.btnarrow {
  box-shadow: none;
  width: 56px;
  height: 62px;
  line-height: 56px;
  padding: 0;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
}
.icon-fs {
  height: 70px;
  width: 87px;
  background: var(--primary-color);
  color: white;
  border-radius: 0;
  font-size: 24px;
  align-content: center;
  text-align: center;
}
.para-tele {
  height: 70px;
  background: #3d4250;
  color: #b2b2b2;
  width: 153px;
}
.para-fsubb {
  color: slategray;
  text-align: center;
}
.tele-form {
  text-align: center;
  margin: -1rem;
}
.box-form {
  background: white;
  box-shadow: 10px 10px 14px rgb(137 137 137 / 8%);
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.paraa-main {
  width: 70%;
}
.hmain {
  width: 80%;
}

/* media Query for below 1000px */
@media (max-width: 1000px) {
  .main1-formsec {
    position: relative;
    grid-template-columns: 0fr 2fr 1fr;
  }
  .sec-formm {
    width: 92%;
  }
  .input-form .fa,
  .input-form .material-icons {
    left: 81%;
  }
}
/* media Query for below 720px */
@media (max-width: 720px) {
  .main1-formsec {
    display: block;
    margin-top: -8rem;
  }
  .main2-formsec {
    display: block;
    width: 88%;
  }
  .main-formsec {
    display: block;
  }
  .cls-h2 {
    text-align: center;
  }
  .para-frommain {
    text-align: center;
    padding-left: 3rem;
  }
  .box-form {
    align-content: center;
  }
  .textareabox {
    width: 85%;
    margin: 2%;
    height: 75%;
  }
  .sec-formm {
    padding: 1rem 0rem;
  }
  .box-form {
    width: 100;
  }
  .cls-h2 {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
  }

  .paraa-main {
    margin-left: 2rem;
  }
  .para-formmain {
    padding: 2rem;
  }
  .icon-fs {
    width: 118%;
  }

  .form-button {
    width: 85%;
  }
}
